.technology-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  padding: 60px 80px;
  background-color: #fdfdfd;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 40px;
  position: relative;
}

.tech-left {
  width: 50%;
}

.tech-heading {
  font-size: 2.5rem;
  font-weight: bold;
  display: flex;
  gap: 10px; 
  align-items: center;
}

.highlight {
  color: #007bff;
}

.tech-left p {
  font-size: 1.5rem;
  line-height: 1.6;
  margin-top: 20px;
  color: #333;
}

.tech-right {
  width: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tech-icons img {
  max-width: 130%;
  height: auto;
  border-radius: 12px;

}

.scroll-down {
  width: 100%;
  text-align: center;
  font-style: italic;
  color: #000000;
  margin-top: 60px;
  font-weight: bold;
  cursor: pointer;
}

/* Responsive styles */
@media (max-width: 1024px) {
  .technology-section {
    flex-direction: column;
    align-items: center;
    padding: 40px 40px;
    margin-top: 60px;
  }

  .tech-left,
  .tech-right {
    width: 100%;
    text-align: center;
  }

  .tech-left p {
    font-size: 1.2rem;
    margin-top: 16px;
  }

  .tech-heading {
    justify-content: center;
    font-size: 2rem;
    flex-wrap: wrap;
  }

  .tech-icons img {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
  }

  .scroll-down {
    margin-top: 40px;
    font-size: 1rem;
  }
}

@media (max-width: 768px) {
  .tech-left p {
    font-size: 1.1rem;
  }

  .technology-section {
    padding: 30px 20px;
  }

  .tech-heading {
    font-size: 1.8rem;
  }
}
